<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.presentation.XPPUModelWizardID"
            name="%_UI_XPPUModelWizard_label"
            class="xPPU.presentation.XPPUModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/XPPUModelFile.gif">
         <description>%_UI_XPPUModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.presentation.XPPUEditorID"
            name="%_UI_XPPUEditor_label"
            icon="icons/full/obj16/XPPUModelFile.gif"
            extensions="xppu"
            class="xPPU.presentation.XPPUEditor"
            contributorClass="xPPU.presentation.XPPUActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.ComponentRepository.presentation.ComponentRepositoryModelWizardID"
            name="%_UI_ComponentRepositoryModelWizard_label"
            class="xPPU.ComponentRepository.presentation.ComponentRepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ComponentRepositoryModelFile.gif">
         <description>%_UI_ComponentRepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.ComponentRepository.presentation.ComponentRepositoryEditorID"
            name="%_UI_ComponentRepositoryEditor_label"
            icon="icons/full/obj16/ComponentRepositoryModelFile.gif"
            extensions="componentrepository"
            class="xPPU.ComponentRepository.presentation.ComponentRepositoryEditor"
            contributorClass="xPPU.ComponentRepository.presentation.ComponentRepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.BusComponents.presentation.BusComponentsModelWizardID"
            name="%_UI_BusComponentsModelWizard_label"
            class="xPPU.BusComponents.presentation.BusComponentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BusComponentsModelFile.gif">
         <description>%_UI_BusComponentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.BusComponents.presentation.BusComponentsEditorID"
            name="%_UI_BusComponentsEditor_label"
            icon="icons/full/obj16/BusComponentsModelFile.gif"
            extensions="buscomponents"
            class="xPPU.BusComponents.presentation.BusComponentsEditor"
            contributorClass="xPPU.BusComponents.presentation.BusComponentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.ElectronicComponents.presentation.ElectronicComponentsModelWizardID"
            name="%_UI_ElectronicComponentsModelWizard_label"
            class="xPPU.ElectronicComponents.presentation.ElectronicComponentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ElectronicComponentsModelFile.gif">
         <description>%_UI_ElectronicComponentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.ElectronicComponents.presentation.ElectronicComponentsEditorID"
            name="%_UI_ElectronicComponentsEditor_label"
            icon="icons/full/obj16/ElectronicComponentsModelFile.gif"
            extensions="electroniccomponents"
            class="xPPU.ElectronicComponents.presentation.ElectronicComponentsEditor"
            contributorClass="xPPU.ElectronicComponents.presentation.ElectronicComponentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.MechanicalComponents.presentation.MechanicalComponentsModelWizardID"
            name="%_UI_MechanicalComponentsModelWizard_label"
            class="xPPU.MechanicalComponents.presentation.MechanicalComponentsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MechanicalComponentsModelFile.gif">
         <description>%_UI_MechanicalComponentsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.MechanicalComponents.presentation.MechanicalComponentsEditorID"
            name="%_UI_MechanicalComponentsEditor_label"
            icon="icons/full/obj16/MechanicalComponentsModelFile.gif"
            extensions="mechanicalcomponents"
            class="xPPU.MechanicalComponents.presentation.MechanicalComponentsEditor"
            contributorClass="xPPU.MechanicalComponents.presentation.MechanicalComponentsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.StructureRepository.presentation.StructureRepositoryModelWizardID"
            name="%_UI_StructureRepositoryModelWizard_label"
            class="xPPU.StructureRepository.presentation.StructureRepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StructureRepositoryModelFile.gif">
         <description>%_UI_StructureRepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.StructureRepository.presentation.StructureRepositoryEditorID"
            name="%_UI_StructureRepositoryEditor_label"
            icon="icons/full/obj16/StructureRepositoryModelFile.gif"
            extensions="structurerepository"
            class="xPPU.StructureRepository.presentation.StructureRepositoryEditor"
            contributorClass="xPPU.StructureRepository.presentation.StructureRepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.ModuleRepository.presentation.ModuleRepositoryModelWizardID"
            name="%_UI_ModuleRepositoryModelWizard_label"
            class="xPPU.ModuleRepository.presentation.ModuleRepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModuleRepositoryModelFile.gif">
         <description>%_UI_ModuleRepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.ModuleRepository.presentation.ModuleRepositoryEditorID"
            name="%_UI_ModuleRepositoryEditor_label"
            icon="icons/full/obj16/ModuleRepositoryModelFile.gif"
            extensions="modulerepository"
            class="xPPU.ModuleRepository.presentation.ModuleRepositoryEditor"
            contributorClass="xPPU.ModuleRepository.presentation.ModuleRepositoryActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated xPPU -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="xPPU.InterfaceRepository.presentation.InterfaceRepositoryModelWizardID"
            name="%_UI_InterfaceRepositoryModelWizard_label"
            class="xPPU.InterfaceRepository.presentation.InterfaceRepositoryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InterfaceRepositoryModelFile.gif">
         <description>%_UI_InterfaceRepositoryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated xPPU -->
      <editor
            id="xPPU.InterfaceRepository.presentation.InterfaceRepositoryEditorID"
            name="%_UI_InterfaceRepositoryEditor_label"
            icon="icons/full/obj16/InterfaceRepositoryModelFile.gif"
            extensions="interfacerepository"
            class="xPPU.InterfaceRepository.presentation.InterfaceRepositoryEditor"
            contributorClass="xPPU.InterfaceRepository.presentation.InterfaceRepositoryActionBarContributor">
      </editor>
   </extension>

</plugin>
