<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="edu.kit.ipd.sdq.amp.ui.CreateSubalternativeContribution1"
            objectClass="org.eclipse.core.resources.IContainer">
         <menu
               icon="../edu.kit.ipd.sdq.amp/icons/edit.png"
               id="edu.kit.ipd.sdq.amp.menuamp"
               label="AMP">
         </menu>
         <action
               class="edu.kit.ipd.sdq.amp.ui.CreateSubalternativeAction"
               icon="../edu.kit.ipd.sdq.amp/icons/editcopy.png"
               id="edu.kit.ipd.sdq.amp.action1"
               label="Create architecture sub-version"
               menubarPath="amp">
         </action>
      </objectContribution>
   </extension>

</plugin>
