<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated deploymentcontext -->
      <package
            uri="http://sdq.ipd.kit.edu/KAMP4APS_DeploymentContext/0.1"
            class="DeploymentContext.DeploymentContextPackage"
            genModel="model/deploymentcontext.genmodel"/>
   </extension>

</plugin>
