<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.common.presentation.CommonModelWizardID"
            name="%_UI_CommonModelWizard_label"
            class="iec611313Specification.common.presentation.CommonModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CommonModelFile.gif">
         <description>%_UI_CommonModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.common.presentation.CommonEditorID"
            name="%_UI_CommonEditor_label"
            icon="icons/full/obj16/CommonModelFile.gif"
            extensions="common"
            class="iec611313Specification.common.presentation.CommonEditor"
            contributorClass="iec611313Specification.common.presentation.CommonActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.common.pous.function_blocks.presentation.Function_blocksModelWizardID"
            name="%_UI_Function_blocksModelWizard_label"
            class="iec611313Specification.common.pous.function_blocks.presentation.Function_blocksModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Function_blocksModelFile.gif">
         <description>%_UI_Function_blocksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.common.pous.function_blocks.presentation.Function_blocksEditorID"
            name="%_UI_Function_blocksEditor_label"
            icon="icons/full/obj16/Function_blocksModelFile.gif"
            extensions="function_blocks"
            class="iec611313Specification.common.pous.function_blocks.presentation.Function_blocksEditor"
            contributorClass="iec611313Specification.common.pous.function_blocks.presentation.Function_blocksActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.common.pous.programs.presentation.ProgramsModelWizardID"
            name="%_UI_ProgramsModelWizard_label"
            class="iec611313Specification.common.pous.programs.presentation.ProgramsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ProgramsModelFile.gif">
         <description>%_UI_ProgramsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.common.pous.programs.presentation.ProgramsEditorID"
            name="%_UI_ProgramsEditor_label"
            icon="icons/full/obj16/ProgramsModelFile.gif"
            extensions="programs"
            class="iec611313Specification.common.pous.programs.presentation.ProgramsEditor"
            contributorClass="iec611313Specification.common.pous.programs.presentation.ProgramsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.common.pous.functions.presentation.FunctionsModelWizardID"
            name="%_UI_FunctionsModelWizard_label"
            class="iec611313Specification.common.pous.functions.presentation.FunctionsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FunctionsModelFile.gif">
         <description>%_UI_FunctionsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.common.pous.functions.presentation.FunctionsEditorID"
            name="%_UI_FunctionsEditor_label"
            icon="icons/full/obj16/FunctionsModelFile.gif"
            extensions="functions"
            class="iec611313Specification.common.pous.functions.presentation.FunctionsEditor"
            contributorClass="iec611313Specification.common.pous.functions.presentation.FunctionsActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.common.variables.presentation.VariablesModelWizardID"
            name="%_UI_VariablesModelWizard_label"
            class="iec611313Specification.common.variables.presentation.VariablesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/VariablesModelFile.gif">
         <description>%_UI_VariablesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.common.variables.presentation.VariablesEditorID"
            name="%_UI_VariablesEditor_label"
            icon="icons/full/obj16/VariablesModelFile.gif"
            extensions="variables"
            class="iec611313Specification.common.variables.presentation.VariablesEditor"
            contributorClass="iec611313Specification.common.variables.presentation.VariablesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.common.types.presentation.TypesModelWizardID"
            name="%_UI_TypesModelWizard_label"
            class="iec611313Specification.common.types.presentation.TypesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TypesModelFile.gif">
         <description>%_UI_TypesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.common.types.presentation.TypesEditorID"
            name="%_UI_TypesEditor_label"
            icon="icons/full/obj16/TypesModelFile.gif"
            extensions="types"
            class="iec611313Specification.common.types.presentation.TypesEditor"
            contributorClass="iec611313Specification.common.types.presentation.TypesActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.common.oop.presentation.OopModelWizardID"
            name="%_UI_OopModelWizard_label"
            class="iec611313Specification.common.oop.presentation.OopModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OopModelFile.gif">
         <description>%_UI_OopModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.common.oop.presentation.OopEditorID"
            name="%_UI_OopEditor_label"
            icon="icons/full/obj16/OopModelFile.gif"
            extensions="oop"
            class="iec611313Specification.common.oop.presentation.OopEditor"
            contributorClass="iec611313Specification.common.oop.presentation.OopActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.configuration.presentation.ConfigurationModelWizardID"
            name="%_UI_ConfigurationModelWizard_label"
            class="iec611313Specification.configuration.presentation.ConfigurationModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ConfigurationModelFile.gif">
         <description>%_UI_ConfigurationModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.configuration.presentation.ConfigurationEditorID"
            name="%_UI_ConfigurationEditor_label"
            icon="icons/full/obj16/ConfigurationModelFile.gif"
            extensions="configuration"
            class="iec611313Specification.configuration.presentation.ConfigurationEditor"
            contributorClass="iec611313Specification.configuration.presentation.ConfigurationActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.language.il.presentation.IlModelWizardID"
            name="%_UI_IlModelWizard_label"
            class="iec611313Specification.language.il.presentation.IlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/IlModelFile.gif">
         <description>%_UI_IlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.language.il.presentation.IlEditorID"
            name="%_UI_IlEditor_label"
            icon="icons/full/obj16/IlModelFile.gif"
            extensions="il"
            class="iec611313Specification.language.il.presentation.IlEditor"
            contributorClass="iec611313Specification.language.il.presentation.IlActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.language.st.presentation.StModelWizardID"
            name="%_UI_StModelWizard_label"
            class="iec611313Specification.language.st.presentation.StModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/StModelFile.gif">
         <description>%_UI_StModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.language.st.presentation.StEditorID"
            name="%_UI_StEditor_label"
            icon="icons/full/obj16/StModelFile.gif"
            extensions="st"
            class="iec611313Specification.language.st.presentation.StEditor"
            contributorClass="iec611313Specification.language.st.presentation.StActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.language.fbd.presentation.FbdModelWizardID"
            name="%_UI_FbdModelWizard_label"
            class="iec611313Specification.language.fbd.presentation.FbdModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/FbdModelFile.gif">
         <description>%_UI_FbdModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.language.fbd.presentation.FbdEditorID"
            name="%_UI_FbdEditor_label"
            icon="icons/full/obj16/FbdModelFile.gif"
            extensions="fbd"
            class="iec611313Specification.language.fbd.presentation.FbdEditor"
            contributorClass="iec611313Specification.language.fbd.presentation.FbdActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.language.ld.presentation.LdModelWizardID"
            name="%_UI_LdModelWizard_label"
            class="iec611313Specification.language.ld.presentation.LdModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/LdModelFile.gif">
         <description>%_UI_LdModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.language.ld.presentation.LdEditorID"
            name="%_UI_LdEditor_label"
            icon="icons/full/obj16/LdModelFile.gif"
            extensions="ld"
            class="iec611313Specification.language.ld.presentation.LdEditor"
            contributorClass="iec611313Specification.language.ld.presentation.LdActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.language.sfc.presentation.SfcModelWizardID"
            name="%_UI_SfcModelWizard_label"
            class="iec611313Specification.language.sfc.presentation.SfcModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SfcModelFile.gif">
         <description>%_UI_SfcModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.language.sfc.presentation.SfcEditorID"
            name="%_UI_SfcEditor_label"
            icon="icons/full/obj16/SfcModelFile.gif"
            extensions="sfc"
            class="iec611313Specification.language.sfc.presentation.SfcEditor"
            contributorClass="iec611313Specification.language.sfc.presentation.SfcActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated IEC611313 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="iec611313Specification.dummy.presentation.DummyModelWizardID"
            name="%_UI_DummyModelWizard_label"
            class="iec611313Specification.dummy.presentation.DummyModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DummyModelFile.gif">
         <description>%_UI_DummyModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated IEC611313 -->
      <editor
            id="iec611313Specification.dummy.presentation.DummyEditorID"
            name="%_UI_DummyEditor_label"
            icon="icons/full/obj16/DummyModelFile.gif"
            extensions="dummy"
            class="iec611313Specification.dummy.presentation.DummyEditor"
            contributorClass="iec611313Specification.dummy.presentation.DummyActionBarContributor">
      </editor>
   </extension>

</plugin>
