<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apsNewModel -->
      <package
            uri="http://www.example.org/apsNewModel"
            class="apsNewModel.ApsNewModelPackage"
            genModel="model/apsNewModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apsNewModel -->
      <package
            uri="http://www.example.org/IECRepository"
            class="IECRepository.IECRepositoryPackage"
            genModel="model/apsNewModel.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated apsNewModel -->
      <package
            uri="http://www.example.org/ComponentInternalDependencies"
            class="ComponentInternalDependencies.ComponentInternalDependenciesPackage"
            genModel="model/apsNewModel.genmodel"/>
   </extension>


</plugin>
