<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://sdq.ipd.kit.edu/KAPSFieldofactivityannotations/1.0"
            class="edu.kit.ipd.sdq.kaps.model.fieldofactivityannotations.FieldofactivityannotationsPackage"
            genModel="model/Fieldofactivityannotations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="fieldofactivityannotations"
            class="edu.kit.ipd.sdq.kaps.model.fieldofactivityannotations.util.FieldofactivityannotationsResourceFactoryImpl"/>
   </extension>

</plugin>
